@b task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: content;
  align-items: center;
}

@b task-item-info {
  display: flex;
  flex-direction: row;
  align-items: center;

  @e item {
    padding-right: 10px;
  }
}

@b task-item-buttons {
  display: flex;
  flex-direction: row;
  padding-right: 10px;

  @e item {
    padding-right: 10px;
  }
}