@b task-card {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

@b task-card-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  @e item {
    padding-left: 20px;
  }
}